<div id="header">
    <button id="menu-toggle" type="button">
        <span class="sr-only">Toggle Navigation Menu</span>
    </button>
        
    <div class="container">
        <a id="logo" href="/">
            매드라이너의 서브노트
        </a>
        <ul id="menu" class="nav">
            <li class="{% if page.url != '/about/' and page.url != '/projects/' and page.url != '/activities/' %} active {% endif %}"><a href="{{ base_path }}/">📚 Blog</a></li>
            <li class="{% if page.url == '/about/' %} active {% endif %}"><a href="{{ base_path }}/about/">👋 About</a></li>
            <li class="{% if page.url == '/projects/' %} active {% endif %}"><a href="{{ base_path }}/projects/">✨ Projects</a></li>
            <li class="{% if page.url == '/activities/' %} active {% endif %}"><a href="{{ base_path }}/activities/">🏆 Activities</a></li>
        </ul>
    </div>
</div>